body {
  background-color: white
}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}
header h1 {
  background-color: rgb(171,22,20); /* red */
  color: white;
  /* height: 50px; */
  padding: 10px 10px;
}
header h2 {
  background-color: rgb(54,55,59); /* grey */
  color: white;
  padding: 0px 5px;
  font-size: 12px;
}
header li {
  display: inline-block;
  text-align: right;
  text-decoration: underline;
  margin-right: 10px;
}
header ul {
  text-align: right;
  padding: 10px 10px;
}
#hero img {
  border: 20px solid white;
  border-bottom: 10px;
  height: 220px;
  width: 440px;
}

#hero h1 {
  margin-left: 30px;
  margin-bottom: 15px;
}
#hero p {
  display: inline-block;
  line-height: 1.0;
  margin-left: 30px;
  margin-right: 240px;
  margin-bottom: 10px;
  font-size: 12px;
}
.three-row div {
  height: 100px; width: 200px; overflow: hidden;
}
.three-row img {
  height: 100px;
  display: inline-block;
}
