body {
  background-color: white
}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}

header h1 {
  background-color: rgb(171,22,20); /* red */
  color: white;
  font-weight: bold;
  padding: 1% 1%;
}
header h2 {
  background-color: rgb(54,55,59); /* grey */
  color: white;
  padding: 0% 3%;
  font-size: 14px;
}
header li {
  display: inline-block;
  text-align: right;
  text-decoration: underline;
  margin-right: 1%;
}
header ul {
  text-align: right;
  padding: 1% 1%;
}

#hero h1 {
  margin-left: 5%;
  margin-bottom: 1.5%;
  font-weight: bold;
}
#hero h2 {
  line-height: 2.0;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1%;
}

p {
  line-height: 1.0;
  margin-left: 5%;
  width: 88%;
  margin-bottom: 1.5%;
  font-size: 14px;
}

.left-column {
    float: left;
    width: 70%;
    margin-right: 1.5%;
}
.left-column img {
  margin-left: 4%;
  margin-top: 4%;
  width: 90%;
}

.right-column {
    float: left;
    width: 27%;
    margin-top: 2%;
    margin-right: 1.5%;
}
.right-column img {
  margin-bottom: 12%;
  width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
  background: rgb(54,55,59);
  color: white;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
}
