body {
  background-color: white
}
body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
}
header h1 {
  background-color: rgb(171,22,20); /* red */
  color: white;
  font-weight: bold;
  padding: 10px 10px;
}
header h2 {
  background-color: rgb(54,55,59); /* grey */
  color: white;
  padding: 0px 5px;
  font-size: 12px;
}
header li {
  display: inline-block;
  text-align: right;
  text-decoration: underline;
  margin-right: 10px;
}
header ul {
  text-align: right;
  padding: 10px 10px;
}
/* #hero img {
  border: 20px solid white;
  border-bottom: 10px;
  height: 220px;
  width: 90%;
} */

#hero h1 {
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}
#hero p {
  line-height: 1.0;
  margin-left: 30px;
  width: 88%;
  margin-bottom: 10px;
  font-size: 12px;
}
#hero h2 {
  font-weight: bold;
  font-size: 14px;
}

.left-column {
    float: left;
    width: 70%;
    margin-right: 1.5%;
}
.left-column img {
  border: 20px solid white;
  border-bottom: 10px;
  height: 275px;
  width: 90%;
}
.right-column {
    float: left;
    width: 27%;
    margin-top: 13px;
    margin-right: 1.5%;

}
.right-column div {
  height: 100px;
  width: 90%;
  overflow: hidden;
}
.right-column img {
  border-bottom: 10px;
  height: 100px;
  /* width: 90%; */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
