body {
  background-color: white
}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
header h1 {
  background-color: rgb(171,22,20); /* red */
  color: white;
  /* height: 50px; */
  padding: 10px 10px;
}
header h2 {
  background-color: rgb(54,55,59); /* grey */
  color: white;
  padding: 0px 5px;
  font-size: 12px;
}
header li {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
header ul {
  text-align: right;
  padding: 10px 10px;
}
